exportPattern("^[[:alpha:]]+")
exportPattern("%.*%")

export(`%+%`)
S3method(`%+%`, default)
S3method(`%+%`, character)
S3method(`%+%`, numeric)

export(`%++%`)
S3method(`%++%`, default)
S3method(`%++%`, character)
S3method(`%++%`, numeric)

export(`%<<%`)
S3method(`%<<%`, leftbunch)


import(data.table)
